html,body {
  background: url('../images/sea.jpg') no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /* Set rules to fill background */
 /*min-height: 100%;*/
 /*min-width: 1024px;*/

 /* Set up proportionate scaling */
 height: 100vh;

 /* Set up positioning */
 /*position: fixed;
 top: 0;
 left: 0;*/
 /*https://css-tricks.com/perfect-full-page-background-image/*/
}

/* font-size를 모듈화로 빼기에는 각각 하나씩 다르다..*/
/*em, rem 개념은 아는데 아직 적용시키기에 공부를 더 해야 할 것 같습니다.*/
body {
  /*font-family: 'Oswald', sans-serif;*/
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 22px;
  color: #e7e7e7;
}
.wrap {
  position: relative;
}
[class^="ui_"] {
  position : absolute;
}
.ui_link {top: 0px; left: 0px;}
.ui_weather {top:0px; right:0px; color: #fff;}
.ui_location {left:0px; bottom:200px;}
.ui_todo {right:0px; bottom: 200px;}

.ui_main {
  margin-left: 50%;
  transform: translate(-50%,50%);
  font-size: 30px;
  color: #fff;
  /*border: 1px solid black;*/
  text-align: center;
}
.time > h1 {
  font-size: 550%;
  font-weight: 500;
  letter-spacing: -5px;
  text-align: center;
  margin-top: 15px;
  position: relative;
}
/* inline 요소는 text-indent 적용안되네...*/
/* 왜? float을 적용하니 text-indent 적용되고
없으면 적용이 안될까.. */
.ampm {
  position: absolute;
  left: 75%;
  top: 35%;
  opacity: 0;
}

.ui_main .greet {
  font-size: 50px;
  margin-bottom: 40px;
}
.ui_main .greet h2 {
  display: inline;
}
.ui_main > h3 {
  font-size: 32px;
  margin-bottom: 10px;
}
.common {
  width: 100px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.ui_main > input {
  width: 450px;
  background: 0;
  border: 0;
  border-bottom: 2px solid #fff;
  text-align: center;
  cursor: auto;
}

blockquote p {
  font-size: 20px;
  color: rgba(255,255,255, 0.9);

}
